@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('./src/styles/home.css');
@import url('./src/styles/client.css');
@import url('./src/styles/info-system.css');
@import url('./src/styles/about.css');
@import url('./src/styles/analytical-data.css');
@import url('./src/styles/about-footer.css');
@import url('./src/styles/coments.css');
@import url('./src/styles/blog-section.css');
@import url('./src/styles/footer.css');

:root{
    --Primary: #28CB8B;
    --Brack: #263238;
    --D_Grey: #4D4D4D;
    --Gray: #717171;
    --Dark_gray: #18191F;
    --L_Grey: #89939E;
    --Grey-blue: #ABBED1;
    --Silver: #F5F7FA;
    --White: #FFFFFF;
    --Tint5: #E8F5E9;
    --Shade5: #103E13;
    --Blue-gray: #3B464C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

/* Classe globais */

.btn{
    background-color: var(--Primary);
    color: var(--White);
    border: none;
    border-radius: 0.5rem;
}

.dark-text{
    color: var(--D_Grey);
}

.green-text{
    color: var(--Primary);
}

.gray-text{
    color: var(--Gray);
}

.title{
    font-size: 2.5rem;
}