#analytical-data{
    display: flex;
    justify-content: space-evenly;
    background-color: var(--Silver);
    padding: 4rem 0;
}

#analitic-text{
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#analytical-data p{
    font-size: 1.1rem;
    margin: 1rem 0;
}

#analitic-content{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.analitic-group{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
